ul input {
  border: none;
  outline: none;
  height: 0;
  width: 0;
  transition: none;
}

.hello + div input {
  transition: all 0.5s ease 500ms;
  height: 20px;
  width: auto;
  margin: 10px;
}

ul span {
  display: none;
}

input::-webkit-inner-spin-button {
  display: none;
}

input:placeholder-shown {
  padding: 0 10px;
}
