@import '../Menu/style.css';

ul input {
  border: none;
  outline: none;
  transform: scaleY(0);
}

.hello + div input {
  transform: scaleY(1);
  border: 1px solid var(--border-color);
  transition: transform 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
  background-color: var(--input-bg-color);
  color: var(--white);
  border-radius: 5%;
  height: 40px;
  min-width: 7rem;
  font-size: 1rem;
  margin: 10px;
}

ul span {
  display: none;
}

input::-webkit-inner-spin-button {
  display: none;
}
.hello + div input:hover {
  border-color: var(--hover-color);
}

.hello + div input:focus {
  border: 1px solid var(--focus-color);
  box-shadow: 0px 0px 1px 1px var(--focus-color);
}
