:root {
  --white: #fff;
  --hide: none;
  --low: 0;
  --high: 1;
  --animate: show 300ms ease-out;
  --input-bg-color: rgba(255, 255, 255, 0.05);
  --border-color: rgba(0, 0, 0, 0.12);
  --hover-color: #4a4a4a;
  --focus-color: rgba(0, 149, 255, 1);
  --main-transition: all 300ms ease;
}

/* overall menu style */
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    129deg,
    rgba(0, 0, 0, 0.9630991046348315) 23%,
    rgba(37, 37, 40, 1) 72%
  );
}

.wrapper ul {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.wrapper ul li {
  margin: 10px;
  color: var(--white);
  text-decoration: none;
  font-size: 30px;
  padding: 5px 10px;
  position: relative;
  transition: all 300ms ease;
  -webkit-transition: var(--main-transition);
  cursor: pointer;
}

.wrapper ul li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--white);
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  transition: all 300ms ease;
  -webkit-transition: var(--main-transition);
  transition-property: transform, height;
  transition-duration: 500ms, 1000ms;
  transition-delay: 0ms, 1000ms;
  z-index: -1;
}

@media (hover: hover) and (pointer: fine) {
  .wrapper ul li:hover::after {
    transform: scaleY(1);
  }

  .wrapper ul li:hover {
    color: black;
  }
}

.wrapper ul li.hello {
  pointer-events: var(--hide);
  line-height: 2;
  width: fit-content;
  font-size: 3rem;
}

.wrapper ul li.goodbye {
  transform: scale(0);
  /*  margin: 0;
  padding: 0; */
  overflow: hidden;
  display: none;
  /*  height: 0; */
}

/*  list style */

.menu {
  height: 80%;
}

li + div {
  height: 0;
}

.hello + div {
  height: fit-content;
}

.hide {
  display: var(--hide);
}

.show {
  animation: var(--animate);
  -webkit-animation: var(--animate);
  pointer-events: var(--hide);
}

@keyframes show {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes show {
  0% {
    -webkit-transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}

@media only screen and (max-width: 420px), (max-height: 370px) {
  .wrapper ul li {
    font-size: 20px;
  }
  .wrapper ul li.hello {
    font-size: 1.5rem;
    width: 100%;
  }
  h1.clicked {
    font-size: 2rem;
  }
}
@media only screen and (max-height: 370px) {
}

/* result and  count button */

h1 {
  margin-top: 8vh;
  bottom: 30%;
  font-size: 4rem;
  display: var(--hide);
  color: var(--white);
  letter-spacing: 8px;
  font-weight: 500;
  width: fit-content;
  transition: all 300ms ease;
  -webkit-transition: var(--main-transition);
}

.count {
  display: var(--hide);
}

.clicked {
  display: block;
  animation: var(--animate);
  -webkit-animation: var(--animate);
}

.hello + div span {
  display: block;
  color: var(--white);
  font-weight: 500;
  font-size: 13px;
  animation: var(--animate);
  -webkit-animation: (var(--animate));
  margin: 0 10px;
  min-width: 120px;
}

.buttonContainer {
  margin-top: 40px;
  display: flex;
  width: 17em;
  justify-content: space-between;
}

button.clicked {
  font-size: 1em;
  padding: 10px;
  background: transparent;
  color: var(--white);
  border: 2px solid var(--focus-color);
  border-radius: 20px/50px;
  cursor: pointer;
  transition: all 300ms ease;
  -webkit-transition: var(--main-transition);
  width: 100px;
}

button.clicked:hover {
  background-color: var(--focus-color);
  color: black;
  opacity: 0.6;
}
