:root {
  --white: #fff;
  --hide: none;
  --low: 0;
  --high: 1;
  --animate: show 300ms ease-out;
}

/* overall menu style */
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    129deg,
    rgba(0, 0, 0, 0.9630991046348315) 23%,
    rgba(37, 37, 40, 1) 72%
  );
}

.wrapper ul {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.wrapper ul li {
  margin: 10px;
  color: var(--white);
  text-decoration: none;
  font-size: 30px;
  padding: 5px 10px;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}

.wrapper ul li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--white);
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  transition: all 0.3s ease;
  transition-property: transform, height;
  transition-duration: 0.5s, 1s;
  transition-delay: 0s, 1s;
  z-index: -1;
}

.wrapper ul li:hover::after {
  transform: scaleY(1);
}

.wrapper ul li:hover {
  color: blue;
}

.wrapper ul li.hello {
  pointer-events: var(--hide);
  line-height: 2;
  width: fit-content;
  font-size: 3rem;
}

.wrapper ul li.goodbye {
  transform: scale(0);
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 0;
}

/*  list style */

.menu {
  height: 80%;
}

li + div {
  height: 0;
}

.hello + div {
  height: fit-content;
}

.hide {
  display: var(--hide);
}

.show {
  animation: var(--animate);
  pointer-events: var(--hide);
}

@keyframes show {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@media only screen and (max-width: 350px) {
  .wrapper ul li {
    font-size: 20px;
  }
  .wrapper ul li.hello {
    font-size: 1.5rem;
    width: 100%;
  }
}

/* result and  count button */

h1 {
  position: absolute;
  bottom: 30%;
  font-size: 4rem;
  display: var(--hide);
  color: var(--white);
  letter-spacing: 8px;
  font-weight: 500;
  width: fit-content;
  transition: all 0.3s ease;
}

.count {
  position: absolute;
  bottom: 53%;
  display: var(--hide);
}

.clicked {
  display: block;
  animation: var(--animate);
}
